<div class="viewWrapper" id="homeWrapper">
	<div class="contentWrapper">
		<div class="headerWrapper">
			<!-- ====== -->
			<!-- AVATAR -->
			<div id="avatarBorder">
				<div id="avatarImg"></div>
			</div>
			<!-- ========= -->
			<!-- SHORT BIO -->
			<div id="headerBio">
				<h3>oh hai!</h3>
				<p>My name is Erin and I'm a Web Designer &amp; Front End Developer based in Michigan. I am an aspiring MEAN Stack Developer who loves challenges and learning new things. When I'm not coding (sometimes it does happen!) I love baking macarons, writing, and playing video games.
				</p>
			</div>
		</div>
	</div>
</div>