<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".unity3d" />
      <mimeMap fileExtension=".unity3d" mimeType="application/vnd.unity"/>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>