<div class="content-container">
	<div class="heading about-me">
		<paper-ripple></paper-ripple>
		<h4 class="sectionHeader">About Me</h4>
	</div>
	<div class="resume-section" id="resumeTop">
		<div class="carousel-navigation">
			<div class="circle purple" data-ng-class="{active: $state.current.activetab == 'about-me'}">
				<a ui-sref="resume.about-me">
					<i class="fa fa-female"></i>
				</a>
			</div>
			<div class="circle salmon" data-ng-class="{active: $state.current.activetab == 'key-skills'}">
				<a ui-sref="resume.key-skills">
					<i class="fa fa-pencil-square-o"></i>
				</a>
			</div>
			<div class="circle teal" data-ng-class="{active: $state.current.activetab == 'professional-experience'}">
				<a ui-sref="resume.professional-experience">
					<i class="fa fa-briefcase"></i>
				</a>
			</div>
			<div class="circle yellow" data-ng-class="{active: $state.current.activetab == 'assignment-history'}">
				<a ui-sref="resume.assignment-history">
					<i class="fa fa-history"></i>
				</a>
			</div>
			<div class="circle green" data-ng-class="{active: $state.current.activetab == 'recognition'}">
				<a ui-sref="resume.recognition">
					<i class="fa fa-trophy"></i>
				</a>
			</div>
		</div>
	</div>
	<p>I enjoy working with others as well as independently and I have been designing &amp; developing web sites for both personal use and freelance for the past decade. In the professional world I have around 4 years of experience.</p>
	<p>I am extremely passionate about education and web technologies. I am always learning new things to add to my arsenal and this is the main reason I love this career so much! It feels more like an amazing hobby I get paid for and not an actual job.</p>
	<p>Personally I love <span class="strong">bold</span> <span class="highlight"><span class="color-1 strong">c</span><span class="color-2 strong">o</span><span class="color-3 strong">l</span><span class="color-4 strong">o</span><span class="color-5 strong">r</span><span class="color-6 strong">s</span></span> and the <span class="design-font">minimalist</span> approach to web design, however, I am highly confident in my ability to take any design (<span class="italic">or concept</span>) and develop it into a beautiful and clean pixel perfect website.</p>
</div>