<div class="content-container">
	<div class="heading assignment-history">
		<h4 class="sectionHeader">Assignment History</h4>
	</div>
	<div class="resume-section" id="resumeTop">
		<div class="carousel-navigation">
			<div class="circle purple" data-ng-class="{active: $state.current.activetab == 'about-me'}">
				<a ui-sref="resume.about-me">
					<i class="fa fa-female"></i>
				</a>
			</div>
			<div class="circle salmon" data-ng-class="{active: $state.current.activetab == 'key-skills'}">
				<a ui-sref="resume.key-skills">
					<i class="fa fa-pencil-square-o"></i>
				</a>
			</div>
			<div class="circle teal" data-ng-class="{active: $state.current.activetab == 'professional-experience'}">
				<a ui-sref="resume.professional-experience">
					<i class="fa fa-briefcase"></i>
				</a>
			</div>
			<div class="circle yellow" data-ng-class="{active: $state.current.activetab == 'assignment-history'}">
				<a ui-sref="resume.assignment-history">
					<i class="fa fa-history"></i>
				</a>
			</div>
			<div class="circle green" data-ng-class="{active: $state.current.activetab == 'recognition'}">
				<a ui-sref="resume.recognition">
					<i class="fa fa-trophy"></i>
				</a>
			</div>
		</div>
	</div>
	<!-- ............ -->
	<!-- assignment 3 -->
	<ol class="resume-list">
		<li>
			<div class="table-row">
				<div class="assignment-details">
					<span class="assignment-heading">
						<i class="fa fa-car assign-i"></i><br>
						Manheim Auctions Inc.
					</span>
					<div class="project-box">
						UI Design<br>
					</div>
					<div class="project-box">
						Watson Automotive iPad Prototype<br>
					</div>
					<div class="project-box">
						Auto Inspection iPad Prototype<br>
					</div>
					<div class="project-box last-item">
						Autotrader iPad Prototype<br>
					</div>
					<p>January 2015 - Present</p>
				</div>
			</div>
		</li>
	</ol>
	<!-- ............ -->
	<!-- assignment 2 -->
	<ol class="resume-list">
		<li>
			<div class="table-row">
				<div class="assignment-details">
					<span class="assignment-heading">
						<i class="fa fa-globe assign-i"></i><br>
						Coca-Cola
					</span>
					<div class="project-box">
						My Coke Rewards<br>Classic Site
					</div>
					<div class="project-box">
						My Coke Rewards<br>Beta Site
					</div>
					<div class="project-box">
						My Coke Rewards<br>Beta+ Site
					</div>
					<div class="project-box last-item">
						My Coke Rewards<br>Unified Site
					</div>
					<p>May 2013 - December 2014</p>
				</div>
			</div>
		</li>
	</ol>
	<!-- ............ -->
	<!-- assignment 1 -->
	<ol class="resume-list last-child">
		<li>
			<div class="table-row">
				<div class="assignment-details">
					<span class="assignment-heading">
						<i class="fa fa-mobile assign-i mobile-i"></i><br>
						IBM Mobile Center of Competency
					</span>
					<div class="project-box last-item">
						IBM Worklight Demo
					</div>
					<p>May 2013 - August 2013</p>
				</div>
			</div>
		</li>
	</ol>
	<ol class="resume-list last-child">
		<li></li>
	</ol>
</div>