<div id="exp" class="content-container">
	<div class="heading experience">
		<h4 class="sectionHeader">Professional Experience</h4>
	</div>
	<div class="resume-section" id="resumeTop">
		<div class="carousel-navigation">
			<div class="circle purple" data-ng-class="{active: $state.current.activetab == 'about-me'}">
				<a ui-sref="resume.about-me">
					<i class="fa fa-female"></i>
				</a>
			</div>
			<div class="circle salmon" data-ng-class="{active: $state.current.activetab == 'key-skills'}">
				<a ui-sref="resume.key-skills">
					<i class="fa fa-pencil-square-o"></i>
				</a>
			</div>
			<div class="circle teal" data-ng-class="{active: $state.current.activetab == 'professional-experience'}">
				<a ui-sref="resume.professional-experience">
					<i class="fa fa-briefcase"></i>
				</a>
			</div>
			<div class="circle yellow" data-ng-class="{active: $state.current.activetab == 'assignment-history'}">
				<a ui-sref="resume.assignment-history">
					<i class="fa fa-history"></i>
				</a>
			</div>
			<div class="circle green" data-ng-class="{active: $state.current.activetab == 'recognition'}">
				<a ui-sref="resume.recognition">
					<i class="fa fa-trophy"></i>
				</a>
			</div>
		</div>
	</div>
	<!-- ibm -->
	<ol class="resume-list">
		<li>
			<div class="table-row">
				<div class="work-details">
					<span class="main work-heading">
						<i class="fa fa-connectdevelop exp-i"></i><br>
						IBM
					</span>
					<p class="strong">Dates</p>
					<p>05/2013 - Present</p>
					<p class="strong">Location</p>
					<p>Lansing, Michigan</p>
					<p class="strong">Job Title</p>
					<p>Application Developer<br>Programmer Specialist II</p>
				</div>
			</div>
		</li>
	</ol>
	<!-- lcc -->
	<ol class="resume-list">
		<li>
			<div class="table-row">
				<div class="work-details">
					<span class="main work-heading">
						<i class="fa fa-university exp-i"></i><br> 
						Lansing Community College
					</span>
					<p class="strong">Dates</p>
					<p>05/2012 - 05/2013</p>
					<p class="strong">Location</p>
					<p>Lansing, Michigan</p>
					<p class="strong">Job Title</p>
					<p>Student Programmer</p>
				</div>
			</div>
		</li>
	</ol>
	<!-- tripper's -->
	<ol class="resume-list">
		<li>
			<div class="table-row">
				<div class="work-details">
					<span class="main work-heading">
						<i class="fa fa-beer exp-i"></i><br>
						Tripper's Sports Bar
					</span>
					<p class="strong">Dates</p>
					<p>09/2010 - 09/2011</p>
					<p class="strong">Location</p>
					<p>Lansing, Michigan</p>
					<p class="strong">Job Title</p>
					<p>Freelance Web Designer &amp;<br> Web Developer</p>
				</div>
			</div>
		</li>
	</ol>
	<!-- speedway -->
	<ol class="resume-list">
		<li>
			<div class="table-row">
				<div class="work-details">
					<span class="main work-heading">
						<i class="fa fa-car exp-i"></i><br>
						Speedway SuperAmerica LLC.
					</span>
					<p class="strong">Dates</p>
					<p>02/2006 - 09/2010</p>
					<p class="strong">Location</p>
					<p>Lansing, Michigan</p>
					<p class="strong">Job Title</p>
					<p>Shift Leader II</p>
				</div>
			</div>
		</li>
	</ol>
</div>