<div class="content-container">
	<div class="heading recognition">
		<paper-ripple></paper-ripple>
		<h4 class="sectionHeader">Recognition</h4>
	</div>
	<div class="resume-section" id="resumeTop">
		<div class="carousel-navigation">
			<div class="circle purple" data-ng-class="{active: $state.current.activetab == 'about-me'}">
				<a ui-sref="resume.about-me">
					<i class="fa fa-female"></i>
				</a>
			</div>
			<div class="circle salmon" data-ng-class="{active: $state.current.activetab == 'key-skills'}">
				<a ui-sref="resume.key-skills">
					<i class="fa fa-pencil-square-o"></i>
				</a>
			</div>
			<div class="circle teal" data-ng-class="{active: $state.current.activetab == 'professional-experience'}">
				<a ui-sref="resume.professional-experience">
					<i class="fa fa-briefcase"></i>
				</a>
			</div>
			<div class="circle yellow" data-ng-class="{active: $state.current.activetab == 'assignment-history'}">
				<a ui-sref="resume.assignment-history">
					<i class="fa fa-history"></i>
				</a>
			</div>
			<div class="circle green" data-ng-class="{active: $state.current.activetab == 'recognition'}">
				<a ui-sref="resume.recognition">
					<i class="fa fa-trophy"></i>
				</a>
			</div>
		</div>
	</div>
	<ol class="resume-list">
		<li>
			<div class="table-row">
				<div class="recognition-details">
					<span class="main recognition-heading">
						<i class="fa fa-globe rec-i"></i><br>
						GBS Service Excellence Award - 2015
					</span>
					<div class="project-box">
						<p class="strong">Service Excellence Award</p>
					</div>
					<div class="project-box">
						<p>Recognized for the practice <span class="strong">Restlessly Reinvent IBM and Ourselves</span></p>
					</div>
					<p class="strong">June 20<sup>th</sup>&nbsp;2015</p>
				</div>
			</div>
		</li>
	</ol>
	<ol class="resume-list">
		<li>
			<div class="table-row">
				<div class="recognition-details">
					<span class="main recognition-heading">
						<i class="fa fa-users rec-i"></i><br>
						We Deliver Contest - 2014
					</span>
					<div class="project-box">
						<p class="strong">NA's Best of the ISCs 1<sup>st</sup> Place Winner</p>
					</div>
					<div class="project-box">
						<p>Additional team members: Anand Naik (Team Member), Anna Boot (Team Member), and Sujata Sarkar (Advisor/Mentor)</p>
					</div>
					<p class="strong">December 30<sup>th</sup>&nbsp;2014</p>
				</div>
			</div>
		</li>
	</ol>
	<ol class="resume-list">
		<li>
			<div class="table-row">
				<div class="recognition-details">
					<span class="main recognition-heading">
						<i class="fa fa-star rec-i"></i><br>
						Manager's Choice Award - 2014
					</span>
					<div class="project-box">
						<p class="strong">Manager's Choice Award</p>
					</div>
					<div class="project-box">
						<p>Recognized for paticipation in the We Deliver 2014 contest</p>
					</div>
					<p class="strong">November 28<sup>th</sup>&nbsp;2014</p>
				</div>
			</div>
		</li>
	</ol>
	<ol class="resume-list">
		<li>
			<div class="table-row">
				<div class="recognition-details">
					<span class="main recognition-heading">
						<i class="fa fa-star rec-i"></i><br>
						Manager's Choice Award - 2014
					</span>
					<div class="project-box">
						<p class="strong">Manager's Choice Award</p>
					</div>
					<div class="project-box">
						<p>Recognized for hard work and dedication to both IBM and the Coca-Cola client.</p>
					</div>
					<p class="strong">June 30<sup>th</sup>&nbsp;2014</p>
				</div>
			</div>
		</li>
	</ol>
</div>